$coral: #DA2919;
$orange: #FD8228;
$orangeP: #C97A41;
$darkBlue: #082F54;
$grey: #6E6E6E;
$tr: transparent;
$orangeH: #FA6F32;
$red: #E30413;
$rosa: #E64349;
$darkGrey: #37383D;
$lightGrey: #F9F9F9;
$white: #FFF;
$tr: transparent;
$light_blue: #F1F4FA;
//
$main_red: #CD0021;
$main_red_hover: #1E221D;
$main_gold: #C39F76;
$main_dark: #1E221D;
$main_black: #000;
$main_gray:#FAF9F9;
$main_gray2:rgb(236, 233, 230);
$main_white: #FFF;
$main_placeholder: #a6a6a6;
$main_formBack: #F2F0ED;
* {
	outline: none;
}

::selection {
	background: transparentize($main_gold, 0.5);
}

.btnn {
	color: $white;
	padding: 10px;
	font-size: 24px;
	transition: 0.3s;
	cursor: pointer;
}

.btn_red {
	background-color: $red;
	border: 1px dashed $white;
	display: block;
	padding: 10px 50px;
	&:hover {
		background-color: $white;
		color: $red;
	}
}

.btn_white {
	background-color: $white;
	border: 1px dashed $darkBlue;
	display: block;
	padding: 10px 50px;
	color: $darkBlue;
	&:hover {
		background-color: $darkBlue;
		color: $white;
	}
}

.btn_tr {
	border: 1px solid $white;
	display: inline-block;
	width: 40%;
	margin: 2% 2%;
	&:hover {
		background-color: $red;
		border: 1px solid $red;
	}
}

.head_main_text {
	font-size: 30px;
	font-weight: bold;
	color: $darkGrey;
	margin-top: 4%;
	margin-bottom: 2%;
	span {
		color: $red;
		font-weight: bold;
	}
}

.under_head_main_text {
	font-size: 24px;
	color: $darkGrey;
	margin-top: 1%;
	span {
		color: $red;
		font-weight: bold;
		text-transform: uppercase;
	}
}

body {
	color: $darkGrey;
	overflow-x: hidden;
}

$grradientCertificates: linear-gradient(135deg, $darkBlue 0%, $darkBlue 25%, $white 25%, $white 26%, $darkBlue 26%, $darkBlue 50%, $white 50%, $white 51%, $darkBlue 51%, $darkBlue 75%, $white 75%, $white 76%, $darkBlue 76%, $darkBlue 100%);
a {
	color: $main_black;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: $main_red;
	}
}

.breadcrumb>li+li:before {
	content: "|";
	color: $main_dark;
	margin-right: 5px;
}

.breadcrumb>.active {
	color: $main_dark;
	font-weight: bold;
}

.breadcrumb {
	background-color: $main_white;
	padding-left: 0;
	font-size: 16px;
	margin-top: 10px;
}

.slick-prev:before,
.slick-next:before {
	color: #000;
	content: "";
}

.slick-next,
.slick-prev {}

.slick-prev {
	left: 0;
	background-image: url(../icons/arrow-l.png);
	width: 14px;
	height: 36px;
	background-position: center;
	transition: 0.3s;
	&:hover,
	&:focus,
	{
		background-image: url(../icons/arrow-l_r.png);
	}
}

.slick-next {
	right: 0;
	background-image: url(../icons/arrow-r.png);
	width: 14px;
	height: 36px;
	background-position: center;
	transition: 0.3s;
	&:hover,
	&:focus,
	{
		background-image: url(../icons/aroow-rr.png);
	}
}

.slick-lightbox .slick-prev {
	z-index: 999;
}

.slick-lightbox-slick-img {
	//border: 1px solid $main_gold;
}

.slick-lightbox-close::before {
	font-size: 45px;
	font-weight: bold;
	cursor: pointer;
	z-index: 999999999;
	color: $main_gold;
	transition: 0.3s;
}

.slick-lightbox-close {
	transition: 0.3s;
	right: 1.5%;
}

.slick-lightbox-close:hover::before {
	color: $main_red;
}

.after_figure {
	position: relative;
	display: inline-block;
	&:after {
		content: "";
		width: 110%;
		height: 50px;
		display: block;
		position: absolute;
		background-image: url(../icons/figureX.svg);
		background-repeat: no-repeat;
		left: 50%;
		bottom: -33px;
		transform: translateX(-50%);
		background-size: 100% 50px;
	}
}

.slick-lightbox-slick-caption {
	color: $main_white;
	font-weight: bold;
	&:before {
		content: "Артикул: ";
		font-weight: normal;
		font-size: 14px;
	}
}

.hover_shadow_border:not(.slick-center) {
	position: relative;
	&:before {
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: transparent;
		//background-color: rgba(255, 255, 255, 0.68);
		box-shadow: inset 0px 0px 35px 15px rgba(195, 159, 118, 1);
		z-index: 1;
		transition: 0.8s;
	}
	&:hover:before {
		opacity: 1;
	}
}

.hover_shadow_border_after:not(.slick-center) {
	position: relative;
	&:after {
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: transparent;
		//background-color: rgba(255, 255, 255, 0.68);
		box-shadow: inset 0px 0px 35px 15px rgba(195, 159, 118, 1);
		z-index: 1;
		transition: 0.8s;
	}
	&:hover:after {
		opacity: 1;
	}
}

.caption_over {
	position: relative;
	&:before {
		position: absolute;
		content: attr(data-caption);
		bottom: 10px;
		left: 10px;
		display: block;
		background-color: transparentize($main_gray2, 0.2);
		color: $main_dark;
		padding: 5px 9px;
		min-width: 85px;
		border: 1px solid $main_gold;
		width: auto;
	}
}

.caption_over_after {
	position: relative;
	span {
		position: absolute;
		//content: attr(data-caption);
		bottom: 10px;
		left: 10px;
		display: block;
		background-color: transparentize($main_gray2, 0.2);
		color: $main_dark;
		padding: 5px 9px;
		min-width: 85px;
		border: 1px solid $main_gold;
		width: auto;
		z-index: 2;
	}
}

.caption_link {
	position: relative;
	&:after {
		content: "\f0c1";
		position: absolute;
		display: block;
		font-family: FontAwesome;
		font-size: 54px;
		color: $main_red;
		left: 50%;
		top: 50%;
		transform: translate(10%, 10%) scale(.1);
		opacity: 0;
		transition: 0.8s;
	}
	&:hover:after {
		opacity: 0.4;
		transform: translate(-50%, -50%) scale(1);
	}
}


/* Sweep To Right */

.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $main_gold;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	color: $main_white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


/* Tooltip */

.images_item+.tooltip>.tooltip-inner {
	background-color: transparentize($main_gold, 0.5);
	color: $main_dark;
	border: 1px solid $main_gold;
	padding: 3px;
	font-size: 12px;
	margin-bottom: -5px;
}


/* Tooltip on top */

.images_item+.tooltip.top>.tooltip-arrow {
	border-top: 5px solid $main_gold;
	margin-bottom: -5px;
}

.slick-lightbox-slick-item-inner {
	cursor: url(../icons/pointer3.svg), auto;
}

a {
	cursor:  pointer;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 12px;
}

::-webkit-scrollbar:horizontal {
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: $main_gold;
	border-radius: 0px;
	border: 2px solid $main_gold;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: $main_formBack;
}


#mm-blocker {
	z-index: 999;
	cursor: pointer;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */
